// sass --watch input.scss output.css
$background-dark: #212529;
$background-blue: #99CCFF;
$nav-height: 7dvh;
$paragraph-size: 1.25rem;

.btn-primary {
    background-color: $background-blue;
    border: none;
    color: white;
    &:hover {
        background-color: $background-blue;
        box-shadow: 4px 2px 12px $background-dark;
        font-weight: bold;
    }
    &:active {
        background-color: $background-blue;
    }
}

.btn-secondary {
    background-color: grey;
    border: none;
    color: white;
    &:hover {
        background-color: grey;
        box-shadow: 4px 2px 2px $background-blue;
        font-weight: bold;
    }
    &:active {
        background-color: grey;
    }
}

.section-dark {
    background-image: linear-gradient($background-dark, $background-blue);
    color: white;
}

.section-light {
    background-image: linear-gradient($background-blue, $background-dark);
    color: white;
}

#navbar {
    background-color: $background-dark;

    #navbar-center.navbar-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-link {
        color: white;
        &:hover {
            color: $background-blue;
            font-weight: bold;
        }
    }
}

.row {
    min-height: 100dvh - $nav-height;
    background-color: transparent;
}

img {
    max-width: 100%;
    max-height: 100dvh - $nav-height - 15dvh;
    object-fit: cover;
    border-radius: 25%;
}

.white-text {
    color: white;
}

#contactDiv {
    .btn {
        min-width: 50%;
        max-width: 100%;
        &:hover {
            text-shadow: 2px 2px 4px $background-blue;
            background-color: white;
            box-shadow: 4px 2px 12px white;
            border: 2px, solid, $background-blue;
            font-weight: bold;
        }
    }

    svg {
        justify-content: center;
        height: $paragraph-size;
        padding-bottom: calc($paragraph-size / 5);
        fill: $background-blue;
    }
}


.card {
    min-height: 85dvh;
    border: none;
    border-radius: 1rem;

    &:hover {
        box-shadow: 6px 3px 18px white;
    }

    img {
        height: 50%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: inherit;
    }
}

p, label {
    font-size: $paragraph-size;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}