// sass --watch input.scss output.css
$background-dark: #212529;
$nav-height: 7dvh;
$name-nav-width: 18dvw;

body {
    background-color: $background-dark;
    color: white;
}

.nav-link {
    color: white;
    &:hover {
        color: grey;
        font-weight: bold;
    }
}

.intro,
.project,
.contact {
    height: 100dvh - $nav-height;
}

img {
    max-width: 100%;
    max-height: 100dvh - $nav-height - 15dvh;
    object-fit: cover;
}