// sass --watch input.scss output.css
$background-dark: #212529;
$background-blue: #99CCFF;
$nav-height: 7dvh;
$name-nav-width: 18dvw;

.section-dark {
    background-image: linear-gradient($background-dark, $background-blue);
    color: white;
}

.section-light {
    background-image: linear-gradient($background-blue, $background-dark);
    color: white;
}

.navbar {
    background-color: $background-dark;
}

.nav-link {
    color: white;
    &:hover {
        color: $background-blue;
        font-weight: bold;
    }
}

.row {
    min-height: 100dvh - $nav-height;
    background-color: transparent;
}

img {
    max-width: 100%;
    max-height: 100dvh - $nav-height - 15dvh;
    object-fit: cover;
    border-radius: 25%;
}


.white-text {
    color: white;
}

#nameNavSpacer {
    color: transparent;
    max-height: 1px;
}

#contactDiv {
    .btn {
        min-width: 50%;
        max-width: 100%;
        &:hover {
            text-shadow: 2px 2px 4px $background-blue;
            background-color: white;
            box-shadow: 4px 2px 12px white;
            border: 2px, solid, $background-blue;
            font-weight: bold;
        }
    }
}

.card {

    &:hover {
        box-shadow: 6px 3px 18px white;
    }

    img {
        object-fit: contain;
    }

    .btn {
        background-color: $background-blue;
        border: none;
        color: white;
        &:hover {
            //text-shadow: 2px 2px 4px $background-dark;
            //background-color: $background-blue;
            box-shadow: 4px 2px 12px $background-dark;
            //border: 2px, solid, $background-dark;
            font-weight: bold;
        }
    }
}
